<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- Style -->
    <link rel="stylesheet" href="../resources/css/form.css" type="text/css">
    <title>Профиль</title>
</head>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand font-monospace" href="#">Быки и коровы</a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link disabled" th:text="${user.username}">Name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
<body>
<div class="container my-4">
    <div class="row m-2 p-2">
        <div class="col">
            <h2 class="top-name center-block text-center">Правила игры:</h2>
            <p  align="justify" class="font-georgia">
                Компьютер загадывает 4-х значное число. Цифры загаданного числа не повторяются. Задача пользователя угадать загаданное число. У пользователя неограниченное число попыток. В каждую попытку пользователь дает компьютеру свой вариант числа. Компьютер сообщает сколько цифр точно угадано (бык) и сколько цифр угадано без учета позиции (корова). По ответу компьютера пользователь должен за несколько ходов угадать число. Пример: 7328 -- загаданное число 0819 -- 0Б1К 4073 -- 0Б2К 5820 -- 0Б1К 3429 -- 1Б1К 5960 -- 0Б0К 7238 -- 2Б2К 7328 -- 4Б0К (число угадано)
            </p>
            <div class="d-grid gap-2">
                <a class="btn btn-outline-secondary"  href="/game" role="button">Начать игру</a>
            </div>
        </div>
        <div class="col">
            <h2 class="top-name center-block text-center">История ваших игр</h2>
            <table class="table table-striped">
                <thead class="thead">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Игрок</th>
                    <th scope="col">Счет</th>
                    <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="games,state : ${games}">
                    <td th:text="${state.count}"></td>
                    <td th:text="${games.user.username}"></td>
                    <td th:text="${games.score}"></td>
                    <td th:text="${games.date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2 class="top-name center-block text-center">Рейтинг</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Игрок</th>
                    <th scope="col">Счет</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rating,state : ${rating}">
                    <td th:text="${state.count}"></td>
                    <td th:text="${rating.key}"></td>
                    <td th:text="${rating.value}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>